.container{
    background: #2A2D31;
    width: 100%;
    display: flex;
    padding: 10px 16px;
    gap: 24px;
    align-items: center;
    min-height: 50px;
    .subtitle{
        font-weight: 400;
        font-size: 10px;
        line-height: 18px;
        color: #727272;
    }
}